body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.app {
  background-color: #ececee; }

.app-logo {
  height: 80px; }

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.app-title {
  font-size: 1.5em; }

.app-intro {
  font-size: large; }

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.my-btn {
  margin-top: 100px; }

.navigation {
  display: flex;
  background-color: #fff;
  height: 60px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 30px 0 rgba(1, 121, 255, 0.07), 0 0 30px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between; }
  .navigation__brand {
    height: 40px;
    padding: 0.5rem 0 0 1rem; }
  .navigation__list {
    line-height: 30px;
    display: flex;
    list-style-type: none; }
    .navigation__list--item {
      padding-left: 1rem;
      transition: color 0.2s ease-in-out;
      cursor: pointer; }
      .navigation__list--item:hover {
        color: #4bab86; }
      .navigation__list--item.select {
        font-weight: 600;
        color: #4bab86; }
    .navigation__list .profile-icon {
      position: relative;
      padding: 1rem; }
      .navigation__list .profile-icon::before {
        position: absolute;
        cursor: pointer;
        content: '';
        top: -17px;
        left: 10px;
        width: 60px;
        height: 60px;
        background-color: #fff;
        background-image: url("../images/profile.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80% 80%; }

.seat-area-card {
  padding: 1rem; }
  .seat-area-card .seat-area-content {
    padding-top: 2rem; }
    .seat-area-card .seat-area-content__title {
      font-weight: 700;
      padding-bottom: 1rem; }
    .seat-area-card .seat-area-content__content--title {
      width: 180px;
      height: 50px;
      background-color: aliceblue;
      line-height: 50px;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      background-color: #26a48a;
      background-image: -webkit-linear-gradient(left, #26a48a, #70daa3);
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 7px 0 rgba(1, 121, 255, 0.06);
      cursor: pointer;
      font-size: 1rem; }
    .seat-area-card .seat-area-content__content--list {
      list-style-type: none;
      position: absolute;
      padding: 0;
      background-color: #26a48a;
      width: 180px;
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 7px 0 rgba(1, 121, 255, 0.06);
      border-radius: 5px;
      display: none; }
      .seat-area-card .seat-area-content__content--list.show {
        display: block; }
    .seat-area-card .seat-area-content__content--item {
      padding: 1rem;
      color: #fff;
      cursor: pointer;
      font-size: 1rem; }
      .seat-area-card .seat-area-content__content--item:hover {
        background-color: #70daa3;
        border-radius: 5px;
        color: #504d4d; }
    .seat-area-card .seat-area-content__content--input {
      margin: 20px 20px;
      width: 170px;
      height: 40px;
      font-size: 1rem;
      padding-left: 1rem;
      border-radius: 5px;
      border-style: solid;
      border-color: #3d3d3d;
      outline: none; }
    .seat-area-card .seat-area-content__content--amout {
      font-size: 24px;
      padding: 1rem 0 1rem; }
    .seat-area-card .seat-area-content__content--discount {
      color: red;
      display: none; }
      .seat-area-card .seat-area-content__content--discount.show {
        display: block; }
    .seat-area-card .seat-area-content__btn {
      width: 180px;
      height: 50px;
      background-color: aliceblue;
      line-height: 50px;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      background-color: #26a48a;
      background-image: -webkit-linear-gradient(left, #26a48a, #70daa3);
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 7px 0 rgba(1, 121, 255, 0.06);
      cursor: pointer;
      outline: none; }

.dropdown {
  position: relative; }
  .dropdown__title {
    width: 180px;
    height: 50px;
    background-color: aliceblue;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color: #26a48a;
    background-image: -webkit-linear-gradient(left, #26a48a, #70daa3);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 7px 0 rgba(1, 121, 255, 0.06);
    cursor: pointer; }
  .dropdown__list {
    list-style-type: none;
    position: absolute;
    padding: 0;
    background-color: #26a48a;
    width: 180px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 7px 0 rgba(1, 121, 255, 0.06);
    border-radius: 5px;
    display: none; }
    .dropdown__list--item {
      padding: 1rem;
      color: #fff;
      cursor: pointer; }
      .dropdown__list--item:hover {
        background-color: #70daa3;
        border-radius: 5px;
        color: #504d4d; }
    .dropdown__list.show {
      display: block; }
